<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Admin Page</title>
</head>
<body>
<h2>Index</h2>     
    <div>Makes records form Edmunds Aoi have been imported to local DB.
    </div>
</body>
</html>



